<%- include('header.ejs') %>

<h3> Liste des meveilleux exercices de l'espace </h3>

    <div class="ui main container">
<!-- en cas d'erreur -->
<% if (locals.flash && locals.flash.error) { %>
<div class="ui negative message">
    <%= flash.error %></div>
<% } %> 
<!-- en cas de succes -->
<% if (locals.flash && locals.flash.success) { %>
<div class="ui positive message">
    <%= flash.success %></div>
<% } %>
    </div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Énoncé</th>
      <th>Identifiant</th>
      <th>Selection</th>
    </tr>
  </thead>
  <tbody>
<% for (exercice of exercices) { %>
    <tr>
      <td><%= exercice.titre %></td>
      <td><%= exercice.enonce %></td>
      <td><%= exercice._id %></td>
      <td class="selectable">
        <a href="/liste/<%= exercice._id %>" class="ui primary button"> Sélectionner</a>
      </td>
    </tr>
    <%  } %>
  </tbody>
</table>



<%- include('footer.ejs') %>